# Configuration file

collector {
    # Whether chunk metrics should be collected [default: true]
    B:chunks=true

    # How often (in server ticks; 20 = 1 second) to refresh chunk metrics [range: 1 ~ 72000, default: 40]
    I:chunks_interval_ticks=40

    # Configure how to handle dimension (world) tick errors. Some mods
    # handle the tick events for their custom dimensions, and may not
    # reliably start and stop ticks as expected.
    #
    #   IGNORE: Ignore tick errors. If a mod really botches tick
    # events, it could emit up to 20 log statements per second for
    # each dimension. This would cause large ballooning of the
    # "logs/debug.txt" file. Use this setting, or figure out how to
    # filter out DEBUG messages for
    # "com.github.cpburnz.minecraft_prometheus_exporter.collectors.Ticks/"
    # in "log4j2.xml".
    #
    #   LOG: Log tick errors. This is the new default.
    #
    #   STRICT: Raise an exception on tick error. This will crash the
    # server if an error occurs.
    #
    # Possible values: [IGNORE, LOG, STRICT]
    #  [default: LOG]
    S:collector_mc_dimension_tick_errors=LOG

    # What permission level should be required to restart the exporter [range: 0 ~ 4, default: 4]
    I:command_permission_level=4

    # Whether entity metrics should be collected [default: true]
    B:entities=true

    # How often (in server ticks; 20 = 1 second) to refresh entity metrics [range: 1 ~ 72000, default: 100]
    I:entities_interval_ticks=100

    # Whether to collect per-dimension world time and weather metrics [default: false]
    B:environment=false

    # How often (in server ticks; 20 = 1 second) to refresh world time and weather metrics [range: 1 ~ 72000, default: 40]
    I:environment_interval_ticks=40

    # Whether collecting metrics about the JVM process is enabled [default: true]
    B:jwm_collector=true

    # Whether player statistics should be collected [default: true]
    B:player_statistics=true

    # How often (in server ticks; 20 = 1 second) to refresh player statistics metrics [range: 1 ~ 72000, default: 600]
    I:player_statistics_interval_ticks=600

    # Whether player metrics should be collected [default: true]
    B:players=true

    # How often (in server ticks; 20 = 1 second) to refresh player metrics [range: 1 ~ 72000, default: 40]
    I:players_interval_ticks=40

    # Whether to expose self-monitoring metrics (per-collector refresh duration and staleness) [default: true]
    B:self_metrics=true

    # Whether to collect metrics on ServerUtilities teams [default: true]
    B:teams=true

    # How often (in server ticks; 20 = 1 second) to refresh ServerUtilities team metrics [range: 1 ~ 72000, default: 600]
    I:teams_interval_ticks=600

    # Whether ticks metrics should be collected [default: true]
    B:ticks=true

    # Whether ticking tile entity metrics should be collected [default: true]
    B:tileentities=true

    # Enables logging per tile entity type per dim; replaces tileentities [default: false]
    B:tileentities_details=false

    # How often (in server ticks; 20 = 1 second) to refresh tile entity metrics [range: 1 ~ 72000, default: 100]
    I:tileentities_interval_ticks=100
}


web {
    # The default address to listen on. Default is everywhere [default: 0.0.0.0]
    S:listen_address=0.0.0.0

    # The default TCP port ot use.
    # It was derived from the Minecraft port (25565) and the Prometheus exporter ports (9100+) [range: 0 ~ 65535, default: 19565]
    I:listen_port=19565
}
